{
  "singleQuote": false,
  "tabWidth": 2,
  "semi": false,
  "useTabs": false,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
